.one_boutique{
    display: flex;
    background-color: grey;
    width: 75% ;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.boutique_img{
    width: 500px;
}

.all_boutique{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boutique_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';

}
.test{
    background-color: rgb(255, 255, 255);
}

.nom{
    font-family: 'Allura';
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 48px;
}

.numero_rue{
    font-family: 'Quicksand';
    margin-left: 50px;
}

.nom_adresse{
    font-family: 'Quicksand';
    margin-left: 50px;
}

.choix_boutique{
    font-family: 'Quicksand';
    text-decoration: none;
    color: white;
    margin-left: 50px;
    transition: transform 0.2s;
    margin-top: 30px;
}

.choix_boutique:hover{
    color: black;
    transform: scale(1.1);

}

.mdp{
    font-family: 'Montserrat';
    margin-left: 50px;
    margin-top: 50px;
}

.ajt{
    font-family: 'Jacques Francois';
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_ajt{
    background-color: transparent; 
    border: 1px solid rgb(1, 1, 1); 
    color: rgb(0, 0, 0);
    font-family: 'Aboreto';
    padding: 8px 18px;
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: 100px;
}

.button:hover {
    transform: scale(0.9);
}

.ajt_utilisateur{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 350px;
    align-items: center;
}

.role_choix{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 500px;
}

.donnee_ajt{
    margin-top: 20px;
    height: 350px;
    width: 1580px;
    background-color: white;

}

#type{
    border: 1px solid #000000;
    background-color: transparent;
    transition: border-color 0.3s;
    font-family: 'Montserrat';
    color: #000000;
}

.modif{
    margin-top: 20px;
    height: 350px;
    width: 1580px;
    background-color: white;

}

.button_supp{
    background-color: transparent; 
    border: 1px solid rgb(1, 1, 1); 
    color: rgb(0, 0, 0);
    font-family: 'Aboreto';
    padding: 8px 18px;
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 1000px;
}
