.one_boutique{
    display: flex;
    background-color: grey;
    width: 75% ;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.boutique_img{
    width: 500px;
    height: 335px;
}

.all_boutique{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.boutique_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.test{
    background-color: brown;
}

.nom_boutique{
    font-family: 'Allura';
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 48px;
}

.rue_boutique{
    font-family: 'Quicksand';
    margin-left: 50px;
}

.cp_boutique{
    font-family: 'Quicksand';
    margin-left: 50px;
}

.choix_boutique{
    font-family: 'Quicksand';
    text-decoration: none;
    color: white;
    margin-left: 50px;
    transition: transform 0.2s;
    margin-top: 30px;
}

.choix_boutique:hover{
    color: black;
    transform: scale(1.1);

}



