.produit{
    background-image: url(../assets/pictures/fond_luxe.jpg);
    width: 1550px;
    height: 1260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.produit_top{
    display: flex;
    flex-direction: row;
}
.img_produit{
    width: 550px;
    margin-left: 300px;
}

.texte_produit{
    color: white;
    font-family: "Jacques Francois";
}

.nom_produit{
    font-size: 64px;
}

.histoire{
    color: white;
    font-family: "Jacques Francois";
    font-size: 24px;
    margin-top: -10px;
}

.id{
    font-family: "Jacques Francois";
    margin-top: 30px;
    font-size: 20px;
}

.type{
    font-family: "Jacques Francois";
    font-size: 20px;

}

.prix{
    font-family: "Montserrat";
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    width: fit-content;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.description{
    font-family: "Jacques Francois";  
    font-size: 20px;  
}


