.produit{
    background-image: url(../assets/pictures/fond_luxe.jpg);
    width: 1550px;
    height: 1260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.img_produit{
    width: 500px;
    height: 500px;
}

.texte_produit{
    color: white;
    font-family: "Jacques Francois";
}

.nom_produit{
    font-size: 64px;
}

