.produit{
    background-image: url(../assets/pictures/fond_luxe.jpg);
    width: 1550px;
    height: 1260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.produit_top{
    display: flex;
    flex-direction: row;
}
.img_produit{
    width: 500px;
    height: 500px;
}

.texte_produit{
    color: white;
    font-family: "Jacques Francois";
}

.nom_produit{
    font-size: 64px;
}

.histoire{
    color: white;
    font-family: "Jacques Francois";
    font-size: 24px;
    margin-top: 0px;
}

.id{
    font-family: "Jacques Francois";
}

.quantite{
    font-family: "Jacques Francois";
}

.prix{
    font-family: "Jacques Francois";
}

.prix{
    font-family: "Jacques Francois";
}

.par_kg{
    font-family: "Jacques Francois";    
}


