*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.burger{
    height: 30px;
    width: 30px;
}

nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    font-size: 24px;
    font-family: 'Jacques Francois';
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.6);
}

.produit_nav{
    text-decoration: none;
    color: #060709;
}

.boutiques_nav{
    text-decoration: none;
    color: #060709;
}

.promote_title{
    font-size: 48px;
    font-family: 'Jacques Francois';
    font-weight: 200;
}


header{
    position: sticky;
    top: 0px;
    z-index: 100;
    width: 100%;    
}
.logo{
    height: 100px;
}

body{
    background-color: #060709;
}



.promote{
    width: 100%;
    height: 89vh;
    background-image: url(../assets/pictures/fond_luxe.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.promote_left{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.promote_title{
    color: white;
    margin-bottom: 100px;
}

.promote_img{
    width: 700px;
}

.artisanat {
    position: relative; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 89vh;
}

.artisanat::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/pictures/artisant_nougat.jpg');
    background-size: cover;
    background-position: right 60% bottom 20%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: 1;
}

.img_artisant,
.artisanat_right {
    position: relative;
    z-index: 2; 
}

.img_artisant {
    width: 642px;
    height: 545px;
    margin-left: 100px;
}

.text_artisant{
    font-size: 32px;
    font-family: "Jacques Francois";
    margin-right: 150px;
    margin-left: 110px;

}

#b_esp{
    margin-left: 110px;
    margin-top: 50px;
}


.line{
    background-color: white;
    height: 25px;
    width: 2px;
}






.all_product{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 89vh;
}



.radial{
    width: 400px;
    height: 400px;
    background: rgb(72,35,14);
background: radial-gradient(circle, rgba(72,35,14,1) 40%, rgba(6,7,9,1) 100%);
    top: 200px;
    right: 0px;
    position: relative;
    z-index: -1;
}

.img_product{
    top: -150px;
    right: -25px;
    position: relative;
}
h2{
    color: white;
}

p{
    color: white;
}

.link{
    display: flex;
    gap: 30px;
    justify-content: start;
    align-items: center;
}

.titre_all_product_left{
    font-family: 'Jacques Francois';
    font-size: 42px;
    margin-bottom: 50px;
}

.all_product_left{
display: flex;
flex-direction: column; 
gap: 20px;
font-size: 28px;  
font-family: 'Aboreto'; 
}


form{
    background-color: white;
}



.button{
    background-color: transparent; 
            border: 2px solid white; 
            color: white;
            font-family: 'Aboreto';
            padding: 10px 20px;
            font-size: 20px;
            cursor: pointer;
            transition: transform 0.3s;
        }

.button:hover {
            transform: scale(1.1);
}


a{
    text-decoration: none;
}